<section
  id="heading"
  class="
    heading
    {% if heading_video or heading_iframe %} has-video {% endif%}
    {% if heading_image %} has-image {% endif%}
">
  {% if heading_iframe %}
    <iframe
      src="{{ heading_iframe }}"
      loading="lazy"
      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
      allowfullscreen="true"
    ></iframe>
  {% elsif heading_video %}
    <video autoplay="1" muted="1" loop="1" playsinline>
      <source
        src="/assets/videos/{{ heading_video }}"
        type="video/mp4"
      >
    </video>
  {% elsif heading_image %}
    <img
      src="/assets/photos/{{ heading_image }}"
      loading="eager"
      decoding="sync"
      alt="{{ heading_image_alt }}"
      eleventy:widths="1800, 1400, 900, 600, 400, 300"
      sizes="(max-width: 1300px) 100vw, 1300px"
    >
  {% endif %}
  {% if heading_text %}
    <h1>
      {{ heading_text }}
    </h1>
   {% endif %}
</section>
