<nav>
  <a class="brand" href="/">
    <img src="/assets/brands/marky-t-logo-sharp.png" alt="Marky T" />
  </a>
  <ul>
    {%- assign pages = collections.page | where: 'data.link_order' -%}
    {%- assign pages = pages | sort: 'data.link_order' -%}
    {%- for p in pages -%}
      {% if p.data.link_title %}
        {% assign is_service = p.data.link_title == "DJ" %}
        {% assign is_service_page = page.data.tags contains "service" %}
        {% assign is_active_page = page.url == p.url %}
        {% assign is_service_active = is_service and is_service_page %}
        {% assign is_active = is_active_page or is_active_service %}
        <li>
          <a href="{{ p.url }}"
            {% if is_active_page %}
              class="active"
            {% elsif is_active_service %}
              class="active-service"
            {% endif %}
          >{{ p.data.link_title }}</a>
          {% if p.data.link_title == "DJ" %}
          <ul>
            {% for service in collections.service %}
              <li>
                <a href="{{ service.url }}"
                  {% if page.url == service.url %}
                    class="active"
                  {% endif %}
                >
                  {{ service.data.link_title }}
                </a>
              </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
