<style type="text/css">
  /* Fix for CLS with images */
  .heading.has-image picture {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 66.67%;
    overflow: hidden;
  }

  .heading.has-image picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @font-face {
    font-family: "Asap Condensed";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url(/assets/fonts/asap-condensed-latin-400-normal.woff2) format("woff2"),
      url(/assets/fonts/asap-condensed-latin-400-normal.woff) format("woff");
  }

  @font-face {
    font-family: "Asap Condensed";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
      url(/assets/fonts/asap-condensed-latin-700-normal.woff2) format("woff2"),
      url(/assets/fonts/asap-condensed-latin-700-normal.woff) format("woff");
  }

  @font-face {
     font-family: "Pacifico";
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src:
       url(/assets/fonts/pacifico-latin-400-normal.woff2) format("woff2"),
       url(/assets/fonts/pacifico-latin-400-normal.woff) format("woff");
  }

  @font-face {
    font-family: "Devonshire";
    font-style: normal;
    font-weight: 400;
    src:
      url(/assets/fonts/devonshire-latin-400-normal.woff2) format("woff2"),
      url(/assets/fonts/devonshire-latin-400-normal.woff) format("woff");
  }

  main h1,
  main h2,
  main h3,
  main h4,
  main h5,
  main h6,
  .heading h1,
  nav ul {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 700;
  }
  .container > footer,
  .services .services-list,
  blockquote footer,
  blockquote strong {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 400;
  }
  form header,
  blockquote {
    font-family: "Pacifico", handwriting;
    font-weight: 400;
  }
</style>
